on:
  schedule:
    - cron:  '0 1 1 * *'
  workflow_dispatch:
name: All
jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        ref: main
    - uses: actions/setup-node@v4
      with:
        node-version: '22.x'

    # see https://github.com/puppeteer/puppeteer/issues/12818
    - name: Disable AppArmor
      run: echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns

    - name: Set env
      run: echo "PUPPETEER_DOWNLOAD_PATH=$HOME/.npm/chromium" >> $GITHUB_ENV
  
    - name: Get npm cache directory
      id: npm-cache-dir
      shell: bash
      run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}

    - uses: actions/cache@v5
      id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
      with:
        path: ${{ steps.npm-cache-dir.outputs.dir }}
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
          
    - name: Build
      run: |
        npm install
        npx rebrowser-puppeteer browsers install chrome
    - name: Main
      run: npm run all
    - name: Commit files
      run: |
        set +e
        git add data.json
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "all data" -a
        set -e
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: 'main'
